@page "/login"

@using Newtonsoft.Json
@using WebApp.Auth
@using global::Auth.DTOs
@using global::Shared.DTOs
@using Static

@inject HttpClient Http
@inject NavigationManager _navManager
@inject ILoginService service
@inject IToastService toastService

<PageTitle>Autenticar usuario</PageTitle>

<h1>Autenticar usuario</h1>

<EditForm Model="@user" OnValidSubmit="LoginUser">
    <DataAnnotationsValidator/>     

    <div class="form-group">
        <label>Correo: </label>
        <div>
            <InputText @bind-Value="@user.Email" class="form-control"/>
            <ValidationMessage For="@(() => user.Email)" />
        </div>
    </div>

     <div class="form-group">
        <label>Contraseña: </label>
        <div>
            <InputPassword @bind-Value="@user.Password" class="form-control"/>
            <ValidationMessage For="@(() => user.Password)" />
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">
        <span class="oi oi-key"></span>
        Autenticarse
    </button>
</EditForm>

@code {
    private UserCredentials user = new UserCredentials();

    private async Task LoginUser()
    {
        try
        {           
            using var response = await Http.PostAsJsonAsync($"{Endpoints.UserLogin}", user);

            if (response.IsSuccessStatusCode)
            {
                var token = response.Content.ReadAsStringAsync().Result;
                await service.Login(token!);
                toastService.ShowSuccess("Usuario autenticado correctamente");
                _navManager.NavigateTo("");
            }
            else
            {
               var error = JsonConvert.DeserializeObject<Error>(response.Content.ReadAsStringAsync().Result);
               toastService.ShowError(error?.Message);  
            }                               
        }
        catch(Exception)
        {
               
        }
    }
}