@page "/profe/create"

@using global::Shared.DTOs
@using Static
@using Newtonsoft.Json; 

@inject HttpClient Http
@inject NavigationManager _navManager
@inject IToastService toastService
@inject IConfiguration configuration

@attribute [Authorize(Roles = "adminprofesores, admin")]
  
<PageTitle>Añadir Profesores</PageTitle>

<EditForm Model="@profesor" OnValidSubmit = "AddProfesor">
    <DataAnnotationsValidator/>

    <div class="form-group">
        <label>Carné Identidad: </label>
        <div>
            <InputText @bind-Value="@profesor.CI" class="form-control"/>
            <ValidationMessage For="@(() => profesor.CI)" />
        </div>
    </div>

    <div class="form-group">
        <label>Nombre: </label>
        <div>
            <InputText @bind-Value="@profesor.Nombre" class="form-control"/>    
            <ValidationMessage For="@(() => profesor.Nombre)" />
        </div>
    </div>

    <div class="form-group">
        <label>Apellidos: </label>
        <div>
            <InputText @bind-Value="@profesor.Apellidos" class="form-control"/>
            <ValidationMessage For="@(() => profesor.Apellidos)" />
        </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">
        <span class="oi oi-check"></span>
        Crear Profesor
    </button>
</EditForm>


@code {
    Profesor profesor = new Profesor();

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task AddProfesor()
    {
        try
        {
            var url = configuration.GetValue<string>("ApiGatewayUrl");

            var postProfesorBody = new { ci = profesor.CI, nombre = profesor.Nombre, apellidos = profesor.Apellidos };            
            using var response = await Http.PostAsJsonAsync($"{url}{Endpoints.AddProfesor}", postProfesorBody);

            if (response.IsSuccessStatusCode)
            {

                await BlazoredModal.CloseAsync(ModalResult.Ok("Ok"));
                toastService.ShowSuccess("Profesor agregado correctamente");  
            }
            else
            {
                var error = JsonConvert.DeserializeObject<Error>(response.Content.ReadAsStringAsync().Result);
                toastService.ShowError(error?.Message);  
            }                      
        }
        catch(Exception)
        {
            toastService.ShowError("No se puede establecer conexión con el servidor");
        }
    }    
}